body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
header{
   
 
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 0 4px black;
}
.header{
 
    display: flex;
    justify-content: space-between;
}
:root{
    --icw:40px;
    --ich:40px;
}
.left-header{
    display: flex;
    padding-left: 16px;
    justify-content: space-between;
}
.left-header>img{
    width: var(--icw);
    height: var(--ich);
    margin-right: 10px;
    margin-top: 5px;
}
.left-header>input{
    border: none;
    height: 50px;
    background-color: #f0f2f5;
    font-size: 1.2em;
    color: white;
    border-radius: 50px;
    padding-left: 15px;
    
}
.middle-header{
    display: flex;
    margin: 0;
    padding: 0;
}
.middle-header a{
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 28px;
     padding-right:28px;
    border-radius: 10px;
}
.middle-header a:hover{
    background-color: rgba(211, 211, 211, 0.534);
}
.middle-header img{
    width: 28px;
    height: 28px;
    
}

.right-header{
    display: flex;
    margin-right: 16px;
}
 .right-header a{
    padding: 15px;
    border-radius: 50%;
    background-color: lightgrey;
    margin-left: 2%;
}
.right-header a:hover{
    background-color: rgba(211, 211, 211, 0.534);
} 
.right-header img{
    height: 20px;
    width: 20px;
}

/*main*/
main{
    margin-top: 1px;
    background-color: #f0f2f5;
}
/*main-left*/
.main-left{
    padding-left: 16px;
}
.main-left img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}
.main-left-info{
    display: flex;
    align-items: center;
}
.main-left h4{
    margin-left: 46px;
    font-weight: 500;
    font-size: 1.3em;
}
.main-left hr{
    width: 20%;
    position: absolute;

}
/*main-middle*/
.main-middle{
  
    padding-top: 16px;
}
/*story*/
.story{
    position: relative;
}
.box{
  
    width: 112px;
    height: 198px;
    border-radius: 5px;
    overflow: hidden;
}
.sp:hover img{
    transform: scale(1.1);
    transition: transform 1s ease;
}
.sp{
    position: relative;
}
.sub:hover .str{
    
    transform: scale(1.2);
    transition: transform 1s ease;
}
.box:first-child{
    box-shadow: 0px 0px 2px;
    background: white;
}
.box:first-child>img{
    width: 100%;
    height: 70%;
}
.box:first-child .plus{
    width: 30%;
    left: 35px;
    bottom: -10px;
    position: absolute;
}
.sp h5{
    display: flex;
    justify-content: center;
    font-weight: 300;
}

.story{
    
    display: grid;
    grid-template-columns: repeat(5,112px);
    grid-gap: 5px;
}

.sub>img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
   
}
 .sub .profile{
    position: absolute;
    width: 8%;
    top: -60px;
    left: 120px;

} 
.sub .profile1{
    position: absolute;
    width: 8%;
    top: -60px;
    left: 240px;

} 
.sub .profile2{
    position: absolute;
    width: 8%;
    top: -60px;
    left: 355px;

} 
.sub .profile3{
    position: absolute;
    width: 8%;
    top: -60px;
    left: 475px;

} 
.sub h5{
    position: absolute;
    top: 140px;
    color: white;
    font-weight: 700;
}

/*main-right*/
.main-right{
    padding-top: 16px;
}
.bd-card{
    width: 328px;
    height: 96px;
    background-color: white;
    box-shadow: 0 0 4px black;
    padding: 16px;
    border-radius: 10px;
}
.bd-card img{
      width: 8%;
}

.bd-card .name{
    font-weight: 700;
}

.main{
   display: flex;
   justify-content: space-between;
}